h1{
    color: blue;
    background-color: yellow;
    font-size: larger;
}
img{
    width: 50%;
    margin-top: 5rem;
}
div{
    display: block;
    background-color: aquamarine;
}
div > ul{
    nav-down: auto;
}